*{
    margin: 0;
    padding: 0;
}

body{
    background-color: forestgreen;
}
/*global div*/
div.oponent {
    position: absolute;
    top: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.player {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.casino {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -115px;
}


div.card {
    width: 150px;
    height: 230px;
    border-radius: 6px;
    background: transparent;
    margin: 0 40px 0 0 ;
    float:left; 
    padding: 5px;
    border: 5px solid white;
}

/*first card*/
div.flip-card {
    width: 150px;
    height: 230px;
    border-radius: 6px;
    background: transparent;
    margin: 0 40px 28px 0 ;
    float:left; 
    position: relative;
    perspective: 400px;
}

.flip-card::before, .flip-card::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    box-sizing: border-box;
    transition: 0.6s transform linear;
    backface-visibility: hidden;
}

.flip-card::after {
    background-image: 
        repeating-radial-gradient(
            circle farthest-corner at right top, 
            red, 
            white 10px, 
            red 15px)
}

.flip-card:hover::after {
    transform: rotateY(-180deg)
}

.flip-card::before {
    background: url('king.png');
    background-size: contain;
    transform: rotateY(-180deg);
}
.flip-card:hover::before {
    transform: rotate(360deg);
}

/*second card*/
div.flip-card2 {
    width: 150px;
    height: 230px;
    border-radius: 6px;
    background: transparent;
    margin: 0 40px 28px 0 ;
    float:left; 
    position: relative;
    perspective: 400px;
}

.flip-card2::before, .flip-card2::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    box-sizing: border-box;
    transition: 0.6s transform linear;
    backface-visibility: hidden;
}

.flip-card2::after {
    background-image: 
        repeating-radial-gradient(
            circle farthest-corner at right top, 
            red, 
            white 10px, 
            red 15px)
}

.flip-card2:hover::after {
    transform: rotateY(-180deg)
}

.flip-card2::before {
    background: url('6.png');
    background-size: contain;
    transform: rotateY(-180deg);
}
.flip-card2:hover::before {
    transform: rotate(360deg);
}

/*third card*/
div.flip-card3 {
    width: 150px;
    height: 230px;
    border-radius: 6px;
    background: transparent;
    margin: 0 40px 0 0 ;
    float:left; 
    position: relative;
    perspective: 400px;
}

.flip-card3::before, .flip-card3::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    box-sizing: border-box;
    transition: 0.6s transform linear;
    backface-visibility: hidden;
}

.flip-card3::after {
    background-image: 
        repeating-radial-gradient(
            circle farthest-corner at right top, 
            red, 
            white 10px, 
            red 15px)
}

.flip-card3:hover::after {
    transform: rotateY(-180deg)
}

.flip-card3::before {
    background: url('5.png');
    background-size: contain;
    transform: rotateY(-180deg);
}
.flip-card3:hover::before {
    transform: rotate(360deg);
}

/*fourth card*/
div.flip-card4 {
    width: 150px;
    height: 230px;
    border-radius: 6px;
    background: transparent;
    margin: 0 40px 0 0 ;
    float:left; 
    position: relative;
    perspective: 400px;
}

.flip-card4::before, .flip-card4::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    box-sizing: border-box;
    transition: 0.6s transform linear;
    backface-visibility: hidden;
}

.flip-card4::after {
    background-image: 
        repeating-radial-gradient(
            circle farthest-corner at right top, 
            red, 
            white 10px, 
            red 15px)
}

.flip-card4:hover::after {
    transform: rotateY(-180deg)
}

.flip-card4::before {
    background: url('4.png');
    background-size: contain;
    transform: rotateY(-180deg);
}
.flip-card4:hover::before {
    transform: rotate(360deg);
}

img {
    width: 100%;
    height: 100%;
}