/* reset styli dla wszystkich elementów */
* {
    margin: 0;
    padding: 0;
    font-family: Roboto, arial;
    /* jednoroazwoe określenie width jeśli bedziemy ustalać szerokość bedzie ona zabierana z wewnątrz a nie dodawana do istniejącej jak w content box */
    box-sizing: border-box;
}

body {
    background-color: #684C3B;
}

#wrapper {
    max-width: 1000px;
    /* wyśrodkowanie kontenera względem strony  */
    margin: 0 auto 0 auto;
    background-color: white;
}

header img {
    width: 100%;
    display: block;
}

nav {
    /* element bedzie mial taka wysokosc jak jego dzieci */
    overflow: hidden;
}

nav a {
    /* a jest elementem liniowym i gdy damy enter w html doda pewne miejsce i nie ułoży elementów koło siebie przy 25%. Rozwiazaniem jest kazac mu to wyswietlic jako blok i float ustawic na left */
    display: block;
    width: 25%;
    float: left;
    color: white;
    text-align: center; 
    text-decoration: none;
    background-color: #808080;
    padding: 15px 30px 15px 30px;
    transition: all 1s ease;
}

a.menu:hover {
    background-color: #FFDE79;
}

.active{
    background-color: #FFDE79;
}

article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px 20px;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}

img.left {
    float: left;
    padding: 0px 10px 10px 0;
    width: 25%;
    border-radius: 50% 30%;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0;
}

iframe{
    width: 100%;
}

footer {
    height: 40px;
    background-color: #808080;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;

}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #FFDE79;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #808080;
  color: white;
}

address {
   font-size: 20px;
    text-align: center;
    margin: 20px 10% 20px 10%;
    padding: 15px;
    color: white;
    border-bottom: 2px solid black;
    background-color: #808080;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

address a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

address a:hover {
    text-decoration: none;
    color: #FFDE79;
}

div.event{
    padding: 5px;
    border: 1px solid black;
    box-shadow: 4px 4px 3px;
    margin: 0 0 20px;
}

div.event h2{
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #808080;
}

@media (max-width:654px){
    nav a {
        width: 50%;
    }
    
    footer {
    height: 80px;
    background-color: #808080;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 11px 0 11px 0;
    line-height: 30px;
}
}

@media (max-width:500px){
    nav a {
        width: 100%;
    }
}